*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  color: rgb(31, 27, 27);
}
 .temp{
  font-size: 44px;
  color:rgb(146, 14, 14);
 }
 
 button{
  padding: 0.5rem 1rem;
  background-color: orange;
  border: none;
  font-weight: bold;
  margin-top: 1.5rem;

 }